
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Robi RLPM</title>
    <style>
        body{
            font-family:Verdana,Arial;
           
        }
        h1,h2{
            color:red;
        }
        h4{
            margin-bottom:5px; padding-bottom:0px;
        }
        p {
            padding-top:0px;
            margin-top:0px;
            line-height: 1.5em;
            font-size:0.8em;
        }
    </style>
</head>
<body>
   <h1>Oops !!</h1>

    @*<h2>  We’re sorry — something has gone wrong on our end.</h2>*@
    <h2>  We’re sorry — Something's wrong here ...</h2>

    <h4> What could have caused this?</h4>
    <p>
        Well, something technical went wrong on our site.<br />
        Or the link you clicked might be old and does not work anymore.<br />
        Or you might have accidentally typed the wrong URL in the address bar.
    </p>

    <h4> What you can do? </h4>
    <p>
        You might try retyping the URL and trying again. <br />
        Or we could take you back to the <a href="~/Dsr/Login"> home page. </a>
        
    </p>
    <h4> One more thing:</h4>
    <p>
        If you want to help us fix this issue, we are here to help. Please contact us and let us know what went wrong.
    </p>
</body>
</html>
