<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <customErrors defaultRedirect="~/DSR/Error"  mode="Off">
      <!--<error statusCode="500" redirect="InternalError.htm"/>-->
    </customErrors>
  </system.web>
  <connectionStrings>
  
    <!--  This is for main site -->
    <!--<add name="MyConnectionString" connectionString="Data Source=182.160.99.115\SQLSERVER2008;Initial Catalog=RobiPosMapping;User ID=sa;Password=sqladmin@123" providerName="System.Data.SqlClient"  />-->
    <add name="MyConnectionString" connectionString="Data Source=182.160.99.116\SQLSERVER2008;Initial Catalog=RobiPosMapping;User ID=sa;Password=sqladmin@123" providerName="System.Data.SqlClient"  />
    <add name="RobiPosMappingEntities" connectionString="metadata=res://*/DataAccess.RobiPos.csdl|res://*/DataAccess.RobiPos.ssdl|res://*/DataAccess.RobiPos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.160.99.116\SQLSERVER2008;initial catalog=RobiPosMapping;user id=sa;password=sqladmin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>