
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POSDetail</title>
</head>
<body>
    <div> This is Pos Detail Page @ViewBag.ID
    </div>
</body>
</html>
