
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Unauthorized Access</title>
   
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/Assets/MyImages/RetailerIcon.ico" type="image/x-icon">
    <link rel="icon" href="~/Assets/MyImages/RetailerIcon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <style>
        .AbelFont {
            font-family: 'Abel', sans-serif;
        }

        .UbuntuFont {
            font-family: 'Ubuntu', sans-serif;
            font-size: 50px;
        }

        .PlayFont {
            font-family: 'Play', sans-serif;
        }

        .RedColor {
            color: red;
        }
    </style>
</head>

<body style="text-align:center;">
    <br />  <img src="~/Assets/MyImages/oops-sign.jpg" width="200" />

    <br />
    <br />
    <h1 class="UbuntuFont RedColor">Unauthorized Access.</h1>
    <p class="PlayFont">You have searched for the <strong> ID- @ViewBag.RetailerId</strong>, <br /> which does not belong to your jurisdiction.</p>

</body>

</html>


